@media (min-width: 1025px) and (max-width: 1440px) {
   :root {
      --nav-width: 140px;
   }

   .nav-logo {
      width: 100px;
      height: 100px;
   }

   .section {
      padding: 80px 80px 80px 10px;
   }

   .arrow-icon {
      width: 80px;
   }

   .arrow-btn--hero {
      top: 36%;
   }
   .arrow-btn--why-me {
      top: 91%;
   }
   .arrow-btn--skills {
      top: 40%;
   }
   .arrow-btn--work {
      top: 91%;
   }
   .arrow-btn--references {
      top: 42%;
   }

   .section-label {
      font-size: 46px;
      -webkit-text-stroke: 2px var(--color-main);
   }

   .skills-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
   }

.contact-form {
      width: 380px;
   }
}
