@media (min-width: 1025px) and (max-width: 1440px) {
   :root {
      --nav-width: 140px;
   }

   .nav-logo {
      width: 100px;
      height: 100px;
   }

   .section {
      padding: 80px 80px 80px 10px;
   }

   .arrow-icon {
      width: 80px;
   }

   .arrow-btn--hero {
      top: 304px;
   }
   .arrow-btn--why-me {
      top: calc(100% - 80px);
   }
   .arrow-btn--skills {
      top: calc(50% - 118px);
   }
   .arrow-btn--work {
      top: calc(100% - 80px);
   }
   .arrow-btn--references {
      top: 349px;
   }

   .section-label {
      font-size: 46px;
      -webkit-text-stroke: 2px var(--color-main);
   }

   .skills-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
   }

   .contact-form {
      width: 380px;
   }

   .about-body {
      padding-right: 100px;
   }

   .skills-content {
      padding-right: 100px;
   }

   .projects-grid {
      padding-right: 100px;
   }

   .references-content {
      padding-right: 100px;
   }
}
